In [76]:
import os
import scipy.io as sio
import pandas as pd


data = sio.loadmat('cluster1_from_km_7.mat')
data.keys()

dict_keys(['__version__', '__globals__', 'cluster_assignment', '__header__', 'sample_type', 'DGE', 'genes', 'spinal_cluster_assignment'])

In [77]:
#Digital Expression Matrix
DGE = data['DGE']

#Genes
genes = list(data['genes'])

#Sample types
sample_type = list(data['sample_type'])

#Main cluster assignment
cluster_assignment = list(data['cluster_assignment'])

#Spinal cluster assignment
spinal_cluster_assignment = list(data['spinal_cluster_assignment'])

DGE

<69093x338 sparse matrix of type '<class 'numpy.float64'>'
	with 1528785 stored elements in Compressed Sparse Column format>

In [78]:
s = pd.Series(spinal_cluster_assignment)
s1 = s.drop_duplicates()
len(s1)
s1 = list(s1)

In [79]:
import numpy as np
values = np.array(s)
searchval = s1
index = []
for x in searchval:
    ii = np.where(values == x)
    index.append(ii)

In [ ]:
value_list = []
for l in range(len()):
    for x in range(len()):
        value_list.append(DGE[l, x].sum())

## mean for each cluster:

value_list = []
for x in range(0,338): 
    for l in index: 

            value_list.append(DGE[l, x].sum())

In [80]:
len(value_list)

NameError: name 'value_list' is not defined

In [54]:
338*45

15210

In [81]:
new_matrix =np.zeros((338*45))

In [82]:
value_array = np.array(value_list)

NameError: name 'value_list' is not defined

In [9]:
value_array = value_array.reshape(45,338)

In [10]:
import matplotlib.pyplot as plt

In [ ]:
pd.DataFrame(value_array)

In [12]:
genes = pd.Series(genes)

genes.to_csv('genes.csv', header=  False)

In [5]:
len(genes)

26894

In [7]:
file = pd.read_excel('clustered_genes.xlsx')

In [8]:
df = pd.DataFrame(file)

In [17]:
km_1 = df['km = 1'].dropna()

In [11]:
km_2 = list(df['km = 2'])

In [50]:
km_1_upper = [item.upper() for item in km_1]

In [51]:
km_2_upper = [item.upper() for item in km_2]

In [13]:
len(km_2)

190

In [19]:
candidates = pd.read_excel('candidates.xlsx')

In [32]:
candidates = pd.DataFrame(candidates)
candidates

    histone genes Epigenetic modifier Interactor
0            H1F0              ACTL6A        XBP1
1           H1FNT              ACTL6B        IL7R
2           H1FOO               ACTR5         APP
3            H1FX               ACTR8       BRCA1
4          H2AFB1              ARID1A       XRCC5
5          H2AFB2              ARID1B        WWP1
6          H2AFB3               ASH1L      INCENP
7           H2AFJ               CARM1         BRM
8           H2AFV                CDY1       EHMT2
9         H2AFVP1                CDYL       KDM1A
10          H2AFX                CHD3       CTCFL
11          H2AFY                CHD4       FOXP3
12         H2AFY2              CHRAC1       SUZ12
13          H2AFZ              CREBBP        CBX5
14        H2AFZP1               DNMT1   HIST1H2BA
15        H2AFZP2              DNMT3A       ERCC6
16        H2AFZP3              DNMT3B       RPS4X
17        H2AFZP4               DOT1L        MTRR
18        H2AFZP5               EHMT1      APPBP2
19        H2AFZP6               EHMT2       PARP1
20          H2BFM                ELP3       ERCC6
21          H2BFS               EP300        TPX2
22         H2BFWT                EZH1        TLX3
23         H2BFXP                EZH2        HIRA
24          H3F3A              FBXO10         APP
25        H3F3AP1              GTF3C4       BCCIP
26        H3F3AP2               HATs1        GDI1
27          H3F3B               HDAC1        PHF8
28          H3F3C              HDAC10       CRTC2
29       HIST1H1A              HDAC11       CENPA
..            ...                 ...         ...
171           NaN                 NaN        HES1
172           NaN                 NaN        PHB2
173           NaN                 NaN       FOXO3
174           NaN                 NaN       SIRT3
175           NaN                 NaN        RELA
176           NaN                 NaN         VIM
177           NaN                 NaN        UBTF
178           NaN                 NaN       PARP1
179           NaN                 NaN        ESR1
180           NaN                 NaN       BAZ1A
181           NaN                 NaN       PBRM1
182           NaN                 NaN        ACTB
183           NaN                 NaN     CCDC85B
184           NaN                 NaN     SMARCB1
185           NaN                 NaN        RARA
186           NaN                 NaN       GSK3B
187           NaN                 NaN        MEST
188           NaN                 NaN        CBX5
189           NaN                 NaN      Cggbp1
190           NaN                 NaN    HIST1H4A
191           NaN                 NaN       GTF2I
192           NaN                 NaN        UBTF
193           NaN                 NaN       VPRBP
194           NaN                 NaN     CYP81D8
195           NaN                 NaN      INO80E
196           NaN                 NaN       PSMD8
197           NaN                 NaN        TLE1
198           NaN                 NaN          AR
199           NaN                 NaN       KDM1B
200           NaN                 NaN      FKBP1A

[201 rows x 3 columns]

In [30]:
histone_genes = list(candidates['histone genes'].dropna())

In [33]:
epigenetic_modifier = list(candidates['Epigenetic modifier'].dropna())

In [36]:
interactor = list(candidates['Interactor '])

In [72]:
hg = []
em = []
it = []
for g in km_1_upper: 
    if g in histone_genes: 
        hg.append(g)
    elif g in epigenetic_modifier:
        em.append(g)
    elif g in interactor: 
        it.append(g)

In [75]:
len(it)

41

In [54]:
new_d = {'histone genes': hg, 'epigenetic modifier' : em, 'interactor': it}

In [64]:
hg = []
em = []
it = []
for g in km_2_upper: 
    if g in histone_genes: 
        hg.append(g)
    elif g in epigenetic_modifier:
        em.append(g)
    elif g in interactor: 
        it.append(g)

In [84]:
len(it)

41

In [83]:
!ls

analysis_cluster_of_interest.ipynb
AzureML
BatchAI
candidates.xlsx
catboost
cluster1_from_km_7.mat
clustered_genes.xlsx
cluster.txt
Deep_learning_frameworks
Deep_learning_tutorials
deep_water
DGE_cluster.ipynb
DGE_DERIVE.ipynb
DGE_km_0.mat
DGE_km_0).mat
DGE(km = 0).mat
DGE_output.mat
dict4_file.csv
dict5_file.csv
dict6_file.csv
dict7_file.csv
dict8_file.csv
dict_file.csv
DocumentDBSample.ipynb
genes
genes.csv
GSE110823_raw.tar
GSM3017260_100_CNS_nuclei.mat.gz
GSM3017261_150000_CNS_nuclei.mat
GSM3017261_150000_CNS_nuclei.mat.gz
GSM3017262_same_day_cells_nuclei_3000_UBCs.mat.gz
GSM3017263_same_day_cells_nuclei_300_UBCs.mat.gz
GSM3017264_frozen_preserved_cells_nuclei_1000_UBCs.mat.gz
GSM3017265_frozen_preserved_cells_nuclei_200_UBCs.mat.gz
h2o
Introduction to Azure ML R notebooks.ipynb
Introduction to Microsoft R Operationalization.ipynb
IntroToJupyterPython.ipynb
IntroTutorialinMicrosoftR.ipynb
IntroTutorialinR.ipynb
IrisClassifierPyMLWebService.ipynb
julia
last.ipynb
LoadDataIntoDW.ipynb
log(data+1).xlsx
MMLSpark
my_data.csv
outpu5.mat
output.mat
raw_DGE.txt
re_cluster.ipynb
redefine_clusters.ipynb
single_cell_derived.csv
singlecell_vs_candidates.csv
singlecell_vs_candidates.xlsx
SparkML
spinal_cluster.csv
SQLDW_Explorations.ipynb
summarise.ipynb
sum_value.csv
sum_value.xlsx
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb
Untitled Folder
Untitled Folder 1
Untitled Folder 2
Untitled.ipynb
untitled.txt